<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/node_modules/bootstrap/dist/js/bootstrap.css"
<title>菜鸟教程(runoob.com)</title>
</head>
<body>
    {{include './header.html'}}
    <a href="/login">
        <button type="button" class="btn btn-primary" role="button">登陆</button>
    </a>
    <a href="/register">
        <button type="button" class="btn btn-info" role="button">注册</button>
    </a>
    <h1>{{name}}</h1>
    <p>index</p>
    {{include './footer.html'}}
    <script scr="/node_modules/jquery/dist/jquery.js"></script>
    <script scr="/node_modules/bootstrap/dist/js/bootstrap.js"></script>

</body>
</html>